.App{
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  border-radius: 5px;
  padding: 10px;
  font-size: 75px;
}

.currentTime span{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.currentDate span{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.remainingHour{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.remainingSec span{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.remainingDay{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.birthDate{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.header button{
  border: none;
  background-color: none;
}

@media only screen and (max-width: 1340px) {
  h1{
    font-size: 70px;
  }
}

@media only screen and (max-width: 935px) {
  h1{
    font-size: 60px;
  }
}

@media only screen and (max-width: 769px) {
  h1{
    font-size: 39px;
  }
}

@media only screen and (max-width: 427px) {
  h1{
    font-size: 15px;
  }
}


@media only screen and (max-width: 377px) {
  h1{
    font-size: 12px;
  }
}

@media only screen and (max-width: 322px) {
  h1{
    font-size: 10px;
  }
}